{% extends "layout.html" %}{% block HtmlbodyContent %}

  <form
    action="/QDueFlask/"
    method="post"
    onsubmit="return validateForm()"
    name="InputForm"
  >
    <div class="mb-3">
      <label for="title" class="form-label">TODO Title</label>
      <input
        type="text"
        class="form-control"
        name="title"
        id="title"
        aria-describedby="titleAria"
      />
    </div>

    <div class="mb-3">
      <label for="desc" class="form-label">TODO Description</label>
      <textarea
        type="text"
        class="form-control"
        aria-label="With textarea"
        name="desc"
        id="desc"
        style="min-height: 200px;"
      ></textarea>
    </div>
    <button type="submit" class="btn submitBtn">Add</button>
  </form>
  <br />

  <!-- table -->
  {% if posts|length==0 %}
  <legend class="text-center">There are no records</legend>
  <img
    class="img-fluid rounded mx-auto d-block"
    src="https://media.tenor.com/qW6rH97R6eEAAAAC/crazy-empty.gif"
    alt="There is nothing to show"
  />
  <!-- else -->
  {% else %}
  <!-- pinned posts -->
  
  <div id="pinnedDIV">
    <h1 id="pinnedPostHeadTitle" class="text-center d-none"><u>Pinned Posts</u></h1>
    <section class='FlexContainer' id="PinnedContainer">  
      {% for post in posts if post.pinned == 1%}
      <div id="PinnedContainerChild">
        <div class="card">
          <div class="card-header">
            <span class="postTitle">{{ post.title }}</span>
            <span>
              <div class="hoverable-element" style="float: right">
                &nbsp;
                <a
                  id="hidden-pinBtn"
                  class="text-end"
                  href="pin/{{ post.id }}"
                  method="post"
                >
                  <span
                    class="material-symbols-outlined"
                    style="
                      font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0,
                        'opsz' 48;
                    "
                  >
                    push_pin
                  </span>
                </a>
              </div>
            </span>
          </div>
          <div class="card-body">
            <pre class="card-text postDescription">{{ post.description }}</pre>
            <a href="update/{{ post.id }}" class="btn btn-primary">Edit</a>
          </div>
          <div class="card-footer text-muted" name="date_updated">
            <span id="dateText">{{ post.date_updated }}</span>
            <a
              id="hidden-pinBtn"
              class="text-end"
              href="delete/{{ post.id }}"
              method="post"
            >
              <span
                style="float: right; padding-left: 40px"
                class="material-symbols-outlined"
                style="
                  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0,
                    'opsz' 48;
                "
              >
                delete
              </span></a
            >
          </div>
        </div>
        <br />
      </div>
      {% endfor %}
  </section>
    <hr class="border border-primary" />
  </div>
  <br />

  <!-- unpinned posts -->
  <section class='FlexContainer'>  
      {% for post in posts if post.pinned == 0%}
      <div>
        <div class="card">
          <div class="card-header">
            <span class="postTitle">{{ post.title }}</span>
            <span>
              <div class="hoverable-element" style="float: right">
                &nbsp;
                <a
                  id="hidden-pinBtn"
                  class="hidden-button text-end"
                  href="pin/{{ post.id }}"
                  method="post"
                >
                  <span
                    class="hidden-button material-symbols-outlined"
                    style="
                      font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0,
                        'opsz' 48;
                    "
                  >
                    push_pin
                  </span>
                </a>
              </div>
            </span>
          </div>
          <div class="card-body">
            <pre class="card-text postDescription">{{ post.description }}</pre>
            <a href="update/{{ post.id }}" class="btn btn-primary">Edit</a>
          </div>
          <div class="card-footer text-muted" name="date_updated">
            <span>{{ post.date_updated }}</span>
            <a
              id="hidden-pinBtn"
              class="text-end"
              href="delete/{{ post.id }}"
              method="post"
            >
              <span
                style="float: right; padding-left: 40px"
                class="material-symbols-outlined"
                style="
                  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0,
                    'opsz' 48;
                "
              >
                delete
              </span></a
            >
          </div>
        </div>
        <br />
      </div>
      {% endfor %}
  </section>
  {% endif %}


<script>
  function validateForm() {
    let title = document.forms["InputForm"]["title"].value;
    let description = document.forms["InputForm"]["desc"].value;
    if (title == "") {
      alert("Title must be filled out");
      return false;
    }
    if (description == "") {
      alert("Description must be filled out");
      return false;
    }
    if (title.length > 200) {
      alert("Title must be shorter then 200 characters");
      return false;
    }
    if (description.length > 500) {
      alert("Title must be shorter then 500 characters");
      return false;
    }
  }
</script>

<script type="text/javascript">
  var parentDiv = document.getElementById("PinnedContainer");
  var childDiv = document.getElementById("PinnedContainerChild");
  var pinnedDIV = document.getElementById("pinnedDIV");
  var pinnedpostTitle = document.getElementById("pinnedPostHeadTitle");
  if (parentDiv.contains(childDiv)) {
    pinnedDIV.classList.toggle("d-block");
    pinnedpostTitle.classList.toggle("d-none");
  } else {
    pinnedDIV.classList.toggle("d-none");
  }
</script>
{% endblock HtmlbodyContent%}
