{% extends "layout.html" %}{% block HtmlbodyContent %}
<div class="container-fluid" style="margin-top: 10px">
  <form action="{{ post.id }}" method="post">
    <div class="mb-3">
      <label for="title" class="form-label"><b>TODO Title: </b></label>
      <input
        type="text"
        class="form-control"
        name="title"
        id="title"
        value="{{ post.title }}"
        aria-describedby="titleAria"
      />
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label"><b>TODO Description: </b></label>
      <textarea
        type="text"
        class="form-control"
        aria-label="With textarea"
        name="desc"
        id="desc"
        style="min-height: 300px;"
      >{{ post.description }}</textarea>
    </div>
    <button type="submit" class="btn submitBtn">Submit</button>
  </form>

</div>
{% endblock HtmlbodyContent%}