.hidden-button {
    opacity: 0.8;
}

.hoverable-element:hover .hidden-button {
    opacity: 1;
}

.FlexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    overflow: auto;
    flex-direction: row;
}

.FlexContainer div {
    margin: 5px;
}